html(ng-app="leve1up")
  head
    title #{title}
    meta(charset="utf-8")
    script(src="http://code.jquery.com/jquery-2.1.0.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.js")
    script(src="./javascript/semantic.min.js")
    link(rel="stylesheet" href="./stylesheets/screen.css" media="screen, projection" type="text/css")
    link(rel="stylesheet" href="./stylesheets/print.css" media="print" type="text/css")
    <!--[if IE]>
    link(rel="stylesheet" href="./stylesheets/ie.css" media="screen, projection" type="text/css")
    <![endif]-->
    link(rel="stylesheet" href="./stylesheets/semantic.min.css")
    link(rel="stylesheet" href="./stylesheets/codemirror.css")
    link(rel="stylesheet" href="./stylesheets/firepad.css")
    script(src="./javascript/angular-cookies.min.js")
    script(src="./javascript/angularLocalStorage.js")
    script(src="https://cdn.firebase.com/js/client/1.0.2/firebase.js")
    script(src="./javascript/codemirror.js")
    script(src="./javascript/firepad-min.js")
    script(src="./javascript/leve1up.js")
  body(ng-controller="leve1upCtrl")
    .ui.grid
      .three.wide.column
        .side
          progress-bar
          !{ menu }
          p
            | Powered by 
            a(href="http://github.com/poga/leve1up") leve1up
            , markdown, and angularjs
          p
            a(href="https://twitter.com/share" class="twitter-share-button" data-size="large") Tweet
      .eight.wide.column
        .content
          !{ content }
      .five.wide.column.rightColumn
        .pad
          #firepad
    script.
      var firepadRef = new Firebase("#{firepadRef}");
      var codeMirror = CodeMirror(document.getElementById('firepad'), { lineWrapping: true});

      var firepad = Firepad.fromCodeMirror(firepadRef, codeMirror, { richTextToolbar: false, richTextShortcuts: false });
      firepad.on('ready', function () {
        if (firepad.isHistoryEmpty()) {
          firepad.setHtml('這裡可以留言喔 <3')
        }
      });

    script.
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

